<%- include('partials/header') %>
    <h2>Welcome to the Movie Library</h2>
    <button id="showImageBtn">Show Image</button>
    <img id="dynamicImage" src="" alt="Selected Image" style="display: none;"/>
<%- include('partials/footer') %>
<script src="/js/main.js"></script>
